/* 테블릿 뷰 */
@media (max-width: 1024px) {

    /* 메인페이지 */
    .main>div>button {
        display: none;
    }

    .main>div>h1 {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .content {
        width: 500px;
        font-size: 14px;
    }

    .logo {
        width: 200px;
    }

    .logo>p {
        font-size: 16px;
    }

    .down_button {
        display: none;
    }

    /* 첫번째세션-소개페이지 */

    .sec01_textBox>h2 {
        font-size: 34px;
    }

    .sec01_textBox>p {
        font-size: 16px;
    }

    /* 별빛 아래 시집 코너 */

    h2 {
        margin-top: 120px;
        margin-left: 60px;
        font-size: 28px;
        font-weight: 400;
    }

    .sec02_div {
        width: 852px;
        height: 540px;
        margin-top: 120px;
    }

    .sec02_pages .page.active {
        width: 674px;
        height: 540px;
    }

    .page>figure {
        width: 200px;
        height: 540px;
    }

    .tab_div>ul>li {
        width: 180px;
        height: 135px;
    }

    .page_text {
        width: 380px;
        height: 360px;
        margin: 40px 50px 40px 50px;
    }

    .page_text>h3 {
        font-size: 24px;
        margin-bottom: 32px;
    }

    .page_text>strong {
        font-size: 18px;
    }

    .page_text>p {
        font-size: 16px;
        margin-top: 100px;
        line-height: 26px;
    }

    .tab_div>ul>li>p {
        font-size: 16px;
        line-height: 140px;
    }


    /* 잊힌 작가의 공간 */

    .text_div {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 640px;
        height: 300px;
    }

    .text_div>div {
        margin: 20px 0;
    }

    .main_div:nth-child(2)>.sub_div>p {
        font-size: 16px;
    }

    .text_div p {
        font-size: 20px;
        padding: 12px 5px;
    }

    /* 오늘의 추천 이야기 */

    .story {
        width: 820px;
    }

    .story_text {
        width: 504px;
        padding: 40px 40px;

    }

    .cover {
        width: 300px;
        padding: 40px;
    }

    .cover>strong {
        font-size: 32px;
    }

    .story_div:nth-child(1)>.cover {
        background-image: url(../img/sec04_1.png);
        background-position: center;

    }

    /* 책 속에서 여행은 어땠나요? */
    .sec05_textbox>h2 {
        margin: 0;
        margin-bottom: 50px;
        font-size: 32px;
    }

    .sec05_textbox>p {
        font-size: 18px;
        line-height: 32px;
    }

    .book_animate {
        bottom: 100px;
    }

    .book_animate>ul>li {
        width: 120px;
        height: 200px;
    }


}

/* 모바일 뷰 */
@media (max-width: 360px) {

    /* 메인 */
    .logo {
        width: 110px;
        margin: 0 auto;
    }

    .section.first {
        background-position: 14%;
    }

    .main>div {
        width: 280px;
    }

    .main>div>h1 {
        font-size: 34px;
    }

    .content {
        position: absolute;
        font-size: 13px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 360px;
        width: 240px;
    }


    .sec02_div {
        display: block;
        position: absolute;
        transform: translateX(-15%);
        left: 50%;
    }

    .page>figure {
        display: none;

    }

    .sec02_pages .page {
        width: 260px;
        height: 500px;
    }

    .sec02_pages .page.active {
        width: 260px;
        height: 500px;
    }

    .tab_div>ul {
        display: flex;
        position: absolute;
        top: -65px;
    }

    .tab_div>ul>li {
        width: 65px;
        height: 65px;
    }

    .tab_div>ul>li>p {
        font-size: 0;
        line-height: 65px;
    }

    .page_text {
        width: 600px;
        height: 400px;
        margin: 40px 20px;
    }

    .page_text>h3 {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .page_text>strong {
        font-size: 14px;
    }

    .page_text>p {
        font-size: 11px;
        margin-top: 100px;
        line-height: 20px;
    }

    .page_text>p>span {
        font-size: 12px;
    }

    .text_div {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 500px;
        position: absolute;
        text-align: center;
    }

    .text_div>.main_div {
        justify-content: space-between;
        align-items: center;
        display: block;
        margin: 40px 0;
    }

    .text_div>.main_div>.sub_div {
        margin-left: 40px;
        display: flex;
        width: 600px;
        justify-content: start;
    }

    .sub_div>p {
        font-size: 16px;
    }

    /* 오늘의 추천 이야기 */

    .story {
        width: 820px;
    }

    .story_text {
        width: 504px;
        padding: 40px 40px;

    }

    .cover {
        width: 300px;
        padding: 40px;
    }

    .cover>strong {
        font-size: 32px;
    }

    .story {
        display: none;
    }

    .story_mobile {
        display: block;
    }

    /* 책 속에서 여행은 어땠나요? */



    .sec05_textbox>h2 {
        margin: 0;
        margin-bottom: 50px;
        font-size: 22px;

    }

    .book_animate {
        bottom: 80px;
    }

    .sec05_textbox>p {
        font-size: 12px;
        line-height: 20px;
    }

    .book_animate {
        bottom: 180px;
    }

    .book_animate>ul {
        gap: 20px;
    }

    .book_animate>ul>li {
        width: 90px;
        height: 150px;
    }

    /* 출구는 없습니다. */

    .sec06_text {
        font-size: 32px;
        font-family: 'ChosunCentennial';
        font-weight: normal;
        position: relative;
    }

    .sec06_text::before,
    .sec06_text::after {
        content: attr(data-text);
        position: absolute;
        width: 100%;
        transition: clip-path 50ms ease-in;
    }

    .sec06_text::before {
        left: 2px;
        text-shadow: 2px -2px #000000;
        clip-path: polygon(0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1));
    }

    .sec06_text::after {
        left: -2px;
        text-shadow: -2px 2px #b9b9b9;
        clip-path: polygon(0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2));
    }

}